    .usercard {
      width:30% !important;
      align-self: center !important;
      padding:0% 2%;
      box-shadow: 3px 4px 25px 0px rgba(0,0,0,0.75) !important;
    }
    .text{
        text-align: start;
    }
    .media {
        width:60%;
         }
    .content{
        display: flex;
    }